ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40px;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .logo {
      background-image: url('../img/Screenshot\ from\ 2021-04-03\ 02-47-07.png');
      background-repeat: no-repeat;
      height: 80px;
      width: 400px;
  }